= semantic_form_for method do |f|
  = f.inputs do
    = f.input :name
  = f.inputs :title => t(:visible_for_users) do
    = f.input :access_list_users, :as => :check_boxes, :collection => User.moderators
  = f.buttons :class => "form-actions" do
    = f.commit_button :button_html => { :class => 'btn btn-primary', :disable_with => t("views.application.wait") }
