= simple_form_for seller, html: { class: "form-horizontal"} do |f|
  = f.input :name
  = f.input :wm_wallet
  = f.input :seller_origin
  .form-actions
    = f.button :submit, class: 'btn btn-primary', disable_with: t("views.application.wait")
