%h1= title t("views.sellers.title")

- if can? :create, Seller
  %p
    = link_to t("views.application.new"), new_seller_path, class: "btn"

- if @sellers.present?
  %table.table.table-striped
    %thead
      %tr
        %th= t("views.sellers.id")
        %th= t("views.sellers.name")
        %th= t(:wm_wallet)
        %th= Seller.human_attribute_name(:seller_origin)
        %th= Seller.human_attribute_name(:email)
        %th.actions= t("views.application.actions")
    %tbody
      - @sellers.each do |seller|
        %tr
          %td= seller.id
          %td= seller.name
          %td= seller.wm_wallet
          %td= seller.seller_origin_name
          %td= seller.email
          %td.actions
            .btn-toolbox
              .btn-group
                - if can? :read, Seller
                  = link_to t("views.application.show"), seller_path(seller.id), class: "btn"
                - if can? :manage, Seller
                  = link_to t("views.application.edit"), edit_seller_path(seller.id), class: "btn"
                  = link_to seller, confirm: t(:are_you_sure), method: :delete, class: "btn btn-danger has-tooltip", title: t(:destroy) do
                    %i.icon-trash.icon-white

