= simple_form_for our_site, html: { class: "form-horizontal" } do |f|
  = f.input :name
  = f.association :category
  %fieldset
    %legend= t(:visible_for_users)
    = f.association :access_list_users, as: :check_boxes, collection: User.moderators, label: false

  .form-actions
    = f.button :submit, class: 'btn btn-primary', disable_with: t("views.application.wait")

