%fieldset.filter
  %legend
    = t("views.links.filter")
  %div
    = form_tag links_path, :method => :get, :class => 'formtastic' do
      %fieldset.inputs
        %ol
          - [:url, :page_rank, :placement, :link_name, :keyword, :seller].each do |field|
            %li.input
              %label.label{ :for => field }
                = t("views.links.#{field}")
              = text_field_tag field, params[field]
          - if PaymentMethod.all.present?
            %li.input
              %label.label
                = t("views.link.payment_method")
              - PaymentMethod.all.each do |payment_method|
                - checked = params[:pm].present? && params[:pm].include?(payment_method.id.to_s)
                = check_box_tag 'pm[]', payment_method.id, checked, :id => dom_id(payment_method)
                = label_tag dom_id(payment_method), payment_method.name
                %br

      %fieldset.buttons
        %ol
          %li.commit.button
            %input.button.green.tall{:type => :submit, :value => t("views.links.do_filter")}


