= semantic_form_for @link do |f|
  = f.inputs do
    = f.input :url, :as => :string
    = f.input :page_rank
    = f.input :name
    = f.input :placement
    = f.input :keyword
    = f.input :status_id, :as => :select, :collection => Status.all
  = f.buttons :class => "form-actions" do
    = f.commit_button :button_html => { :class => 'btn btn-primary', :disable_with => t("views.application.wait") }
