%p
  = link_to t("views.application.new"), new_link_path, :class => "button green tall"
  = link_to t("views.links.check"), check_links_path, :class => "button green tall"
  = link_to t("views.links.filter"), "#", :id => :filter, :class => "button green tall", :remote => true

#filter-wrapper
  = render :partial => "filter"

.sideleft
  - if @links.present?
    %table.list_table
      %thead
        %tr
          %th= t("views.links.url")
          %th= t("views.links.page_rank")
          %th= t("views.links.placement")
          %th= t("views.links.name")
          %th= t("views.links.keyword")
          %th= t("views.links.seller")
          %th= t("views.links.payment_method")
          %th= t("views.links.days_left")
          %th= t(:status)
          %th.actions= t("views.application.actions")
      %tbody
        - @links.each do |link|
          %tr
            %td= link.url
            %td= link.page_rank
            %td= link.placement
            %td= link.name
            %td= link.keyword
            %td= link.seller_name
            %td= link.payment_method_name
            %td= link.days_left
            %td= link.status_name
            %td.actions
              = link_to t("views.links.payments"), link_payments_path(link.id) 
              = link_to t("views.application.show"), link_path(link.id) 
              = link_to t("views.application.edit"), edit_link_path(link.id)
              = link_to t("views.application.destroy"), link, :confirm => t("views.application.are_you_sure"), :method => :delete
  - else
    %p 
      - if params[:filter].present?
        = t(:filter_results_is_empty)
        = link_to t(:clear_filter), links_path
      - else
        = t(:link_list_is_empty)
