= semantic_form_for [@link, @payment] do |f|
  = f.inputs do
    = f.input :seller, :as => :select, :label => t("views.payment.seller")
    = f.input :payment_method, :as => :select, :label => t("views.payment.payment_method")
    = f.input :amount, :label => t("views.payment.amount")
    = f.input :paid_at, :as => :datepicker, :input_html => {:class => 'datepicker'}, :label => t("views.payment.paid_at")
    = f.input :next_payment_at, :as => :datepicker, :input_html => {:class => 'datepicker'}, :label => t("views.payment.next_payment_at")
  = f.buttons do
    = f.commit_button :button_html => { :class => 'button green tall', :disable_with => t("views.application.wait") }
