%h1= title t("views.payments.payments_for", :name => @link.url)

%p
  = link_to t("views.application.new"), new_link_payment_path(@link), :class => "button green tall"

- if @payments.present?
  %table.list_table
    %thead
      %tr
        %th= t("views.payments.id")
        %th= t("views.payments.seller")
        %th= t("views.payments.payment_method")
        %th= t("views.payments.paid_at")
        %th= t("views.payments.next_payment_at")
        %th= t("views.payments.amount")
        %th= t("views.payments.per_month")
        %th.actions
          = t("views.application.actions")
    %tbody
      - @payments.each do |payment|
        %tr
          %td= payment.id
          %td= payment.seller.name
          %td= payment.payment_method.name
          %td= l payment.paid_at.to_date
          %td= l payment.next_payment_at.to_date
          %td= to_currency payment.amount
          %td= to_currency payment.per_month
          %td.actions
            = link_to t("views.application.edit"), edit_link_payment_path(@link.id, payment.id)
            = link_to t("views.application.destroy"), link_payment_path(@link, payment), :method => :delete, :confirm => t("views.application.are_you_sure")
      %tr.total
        %td{:colspan => 4}
        %th= t("views.payments.total_amount")
        %td= to_currency @link.total_amount
        %td
