%h1= title t("views.payments.payments_for", name: @link.url)

%p
  = link_to t("views.application.new"), new_payment_path(link_id: @link), class: "btn"

- if @payments.present?
  %table.table.table-striped
    %thead
      %tr
        %th= t("views.payments.id")
        %th= t("views.payments.seller")
        %th= t("views.payments.payment_method")
        %th= t("views.payments.paid_at")
        %th= t("views.payments.next_payment_at")
        %th= t("views.payments.amount")
        %th= t("views.payments.per_month")
        %th.actions
          = t("views.application.actions")
    %tbody
      - @payments.each do |payment|
        %tr
          %td= payment.id
          %td= payment.seller_name
          %td= payment.payment_method_name
          %td= l payment.paid_at.to_date
          %td= l payment.next_payment_at.to_date
          %td= to_currency payment.amount
          %td= to_currency payment.per_month
          %td.actions
            .btn-toolbox
              .btn-group
                - if can?(:moderate, Payment) && !payment.moderated?
                  = link_to moderate_payment_path(payment, link_id: @link.id), method: :post, class: "btn btn-success" do
                    %i.icon-ok.icon-white
                    = t("views.application.moderate")

                - if @payments.last == payment
                  = render 'extend_modal', payment: payment
                  = link_to t(:extend_to), "#extend-to-modal", class: "btn", role: "button", :"data-toggle" => "modal"

                = link_to t("views.application.edit"), edit_payment_path(payment.id, link_id: @link.id), class: "btn"
                - if can? :destroy, Payment
                  = link_to payment_path(payment, link_id: @link.id), method: :delete, confirm: t("views.application.are_you_sure"), class: "btn btn-danger" do
                    %i.icon-trash.icon-white
      %tr.total
        %td{colspan: 4}
        %th= t("views.payments.total_amount")
        %td= to_currency @link.total_amount
        %td
        %td
