%h1= title t("views.logs.title")

- if @logs.present?
  %table.table.table-striped
    %thead
      %tr
        %th= t("views.logs.created_at")
        %th= t("views.logs.user")
        %th= t("views.logs.link")
        %th= t("views.logs.description")
    %tbody
      - @logs.each do |log|
        %tr
          %td= l(log.created_at)
          %td= link_to log.user_email, logs_path(user_id: log.user_id)
          %td= link_to log.link_url, logs_path(link_id: log.link_id)
          %td= log.description
