%nav
  %ul.nav.pull-right
    - if user_signed_in?
      %li{ :class => active("links") }
        = link_to t("views.application.links"), links_path
      %li{ :class => active("sellers") }
        = link_to t("views.application.sellers"), sellers_path
      %li{ :class => active("payment_methods") }
        = link_to t("views.application.payment_methods"), payment_methods_path
      %li{ :class => active("statuses") }
        = link_to t("views.application.statuses"), statuses_path
      %li{ :class => active("logs") }
        = link_to t("views.application.log"), logs_path
      %li
        = link_to t("auth.sign_out"), destroy_user_session_path, :method => :delete
    - else
      %li= link_to t("auth.sign_in"), new_user_session_path
