!!!
%html
  %head
    %title
      Link Manager
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = csrf_meta_tags

  %body
    - flash.each do |name, message|
      #notify-container
        %div{:class => name}
          = message

    #container
      #header
        #header_content
          = link_to root_path, :id => 'site_logo' do
            %span
              Link Manager
          %ul#account_box
            = render :partial => 'layouts/menu'
      #main
        #page_content
          = yield

      #footer
        #footer_content
          %ul#nav_bottom
            %li
              = link_to "About", "#"
              %p
                Comming soon
          %p.copyright
            copyright @2011
          %ul.site_links
            %li
              = link_to "Links Manager", root_path
