!!!
%html
  %head
    = display_meta_tags :site => "Link Manager"
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = link_to "", :class => "btn btn-navbar", :data => { :toggle => "collapse", :target => ".nav-collapse" } do
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Links Manager", root_path, :id => "logo", :class => "brand"
          = render :partial => 'layouts/menu'
    .container-fluid
      .row-fluid
        .span12
          = render :partial => 'shared/flash_messages'
          = yield

      %footer
        %p
          &copy; Company 2012

    = javascript_include_tag "application"
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

