!!!
%html
  %head
    = display_meta_tags :site => "Link Manager"
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = csrf_meta_tags
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  %body
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to "Links Manager", root_path, :id => "logo"
          = render :partial => 'layouts/menu'
    .container
      = render :partial => 'shared/flash_messages'
      = yield

    %footer
      .container
        %p
          &copy; Company 2012


